@import url('https://fonts.googleapis.com/css?family=Shrikhand&subset=gujarati,latin-ext');
#fh5co-header .display-tc h1.headercolour
{
	
	color:white;
	padding-top: 220px;	
	font-family: 'Shrikhand', sans-serif;

}
.fh5co-cover {
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}